* {
    margin: 0;
    padding: 0;
    transition: 0.1s ease-in-out;
}


.bodyContainer1 {
    background: rgb(225, 237, 255);
    background: linear-gradient(180deg, rgba(225, 237, 255, 1) 0%, rgba(97, 154, 241, 1) 100%);
   
}

body {
    font-family: sans-serif;
    font-size: large;

}

/* .header1 for phone and email*/
.header1 {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    align-items: center;
}

.header1bg {
    background-color: black;
}

.header1 div {
    padding: 0.5rem;
}

.header1 i {
    color: gold;
}

.header1 a {
    color: white;
    margin: 1rem;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
}

/*nav logo*/
.header .navLogo {
    margin: 1rem 1rem 1rem 3rem;
    font-size: 2rem;
    font-weight: 700;
}

.navLogo a {
    text-decoration: none;
    color: blue;
}

/* NAV bar */
.nav {
    margin: 1rem 3rem 1rem 1rem;
}

.nav ul {
    display: flex;

}

.nav li {
    list-style: none;
    margin-left: 2rem;
}

.nav a {
    text-decoration: none;
}

.nav a {
    color: black;
}

.nav a:hover {
    color: blue;
}

/* body body body*/

.heroContainer {
    display: flex;
    margin: 3rem;
    margin-bottom: 0;
    justify-content: space-evenly;
    max-width: 1400px;
    margin: auto;
}

.heroText {
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroText h1{
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.heroImage {

    margin: auto;
    display: flex;
    flex-direction: column;
}
.heroImage img{
    height: 30rem;
}

.HeroContactBtn {
    margin-top: 1rem;
    max-width: fit-content;
    background-color: gold;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
}

/* Features Section */

.container1 {
    display: flex;
}

.featureContainer {
    display: flex;
    margin: auto;
    margin-top: -7rem;
}

.feature {

    border-radius: 10px;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    box-shadow: rgb(88, 88, 88) 0px 5px 15px;

}

.feature img {
    height: 6rem;
}

.feature:nth-child(1) {
    background-color: white;
}

.feature:nth-child(2) {
    background-color: gold;
}

.feature:nth-child(3) {
    background-color: white;
}

.feature:hover {
    background-color: gold;
}

.heroContainer {
    margin-top: 5rem;
}

#aboutImage1 {
    width: 35rem;
}

/*footer footer footer*/
.footerContainer {
    background-color: rgb(0, 0, 66);
}

.footer {
    margin-top: 5rem;
    max-width: 1400px;
    color: white;
    margin: auto;
    margin-top: 10rem;

    text-align: center;
}


.footerHeadingUp {
    padding: 3rem 0;
    font-size: x-large;
    font-weight: 600;
}

.footerDesignContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerDesignContainer i {
    font-size: 1.5rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: blue;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 80px;
    margin: auto 7rem;
}

.footerLinkTitleContainer{
    display: flex;
    flex-direction: column;
}

.footerLinkTitleContainer i:hover{
    background-color:gold;
}

.footerLinkTitleContainer div{
    margin-top: 2rem;
}

.footerMid {
    font-weight: 600;
    font-size: x-large;
    padding: 3rem 0;    
    margin-top: 1rem;
}

.footerDesignContainer1 i {
    font-size: 1.5rem;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: 0 1rem 3rem 1rem;
}




.footerDown {
    margin: 0 10rem;
    padding: 3rem;
    border-top: 0.1rem solid white;
}




/* services page */

.servicesPageContainer{
    max-width: 1400px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.servicesBoxContainer{
    display: flex;
    text-align: center;
}
.servicesBox {
    box-shadow: rgb(88, 88, 88) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    border-radius:10px ;
    background-color: white;

    margin: 2rem;
    padding: 2rem;
}

.servicesBox:hover{
    background-color: gold;
    cursor: pointer;
}


.servicesBox img {
    align-self: center;
    height: 5rem;
    margin-bottom: 1rem;
    
}

.servicesBox h4{
    margin-bottom: 1rem ;
}


.servicesPageBtn{
    margin-top: 1rem;
    max-width: fit-content;
    background-color: gold;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
}


/* CONTACT PAGE */

.contactPageContainer{
    max-width: 1400px;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.contactSectionContainer{
    display: flex;
    justify-content: space-evenly;
}
.contactSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.contactInputMessage{
    height: 50%;
}
.contactSection input{
    padding: 1rem;
    margin: 1rem;
    box-shadow: rgb(88, 88, 88) 0px 5px 15px;
    outline: none;
    border: none;
    border-radius: 10px;
}
.mapSection{
    display: flex;
    align-items: center;

}
.mapSection img{
    height:25rem;
    margin: 1rem;
    border-radius: 10px;
}
.contactPageBtn{
    margin: 1rem;
    background-color: gold;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    box-shadow: rgb(88, 88, 88) 0px 5px 15px;
}
.contactPageHeading{
    margin: 0 0 2rem 13rem;
}


/* index page sliders*/
.swiper {
    box-shadow: rgb(88, 88, 88) 0px 5px 15px;
    border-radius: 10px;

    width: 600px;
    height: 300px;
    margin-top: 5rem;
}
.swiper-slide {
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.swiper-slide p{
    margin: 2rem;
}
.swiper-slide img{
    box-shadow: rgb(88, 88, 88) 0px 5px 15px;

    border-radius: 10px;

}

.heroSliderContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 1400px;
    margin: auto;
    
    margin-top:8rem ;
}
.heroSliderContainer h1{
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}



.heroContainerConstruction{
    display: flex;
    
}
.constructionBody{
    margin:10rem auto 5rem auto;
    text-align: center;
    font-size: 2rem;

}
.constructionBody h1{
    color: blue
}
.constructionBody h3{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.constructionBody a{
    text-decoration: none;
    margin-top: 5rem;
    background-color: gold;
    color: black;
    padding: 0.5rem;
    border-radius: 10px;
}